@import url('https://fonts.googleapis.com/css2?family=Tillana:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

:root{--desc:blue;--imgs:black;--s:cornsilk; --bor: black; --no:brown;}
body{
	background-color: lavenderblush;}
header{
        background-color: RGB(10, 223, 200);
	box-shadow: 1.5vh 1.5vh 0.4vh dimgrey;
	margin-left:0vw;
	width:100%;}
.navigation{
        color: RGB(200, 0, 0);
        border: 0.2vh solid maroon;
        border-radius: 5%;
        background-color: RGB(200,200,100);
        font-size: 1.2vh;
        font-family: 'Nova Mono', monospace;
	width:20%;}
#selected{padding:0vh;
        color: brown;
        border: .3vh solid olive;
        border-radius: 20%;
        background-color: palegreen;
        font-size: 2.1vh;
        font-family: 'Poppins', monospace}
#sections{
	justify-content:center;
	align-items:center;
	border: .5vh solid;
	position:relative;
	box-shadow: 1vh 2vh .4vh dimgrey;
	border-image-slice: 2;
	border-image-source: linear-gradient(45deg,red,tomato,yellow,lime,cyan,indigo,violet);
	left:5%;
	width: 90%;
	border-radius: 5%;}
.shead{
	text-align:center;
	font-size: 3vh;
	font-family: 'Amita';
	color: maroon;
	border-bottom: .5vh solid maroon;;
	background-color: tan;}
.scontent{
	font-size: 1.7vh;
	color: black;
	text-align: center;
	background-color: var(--s);
	font-family: 'Gotu', cursive;}
.no{
	color:var(--no);
	font-size: 2vh;
	font-family: 'Playball', cursive; }
.borders{
	border: .7vh solid;
	border-image-slice: 2;
        border-image-source: linear-gradient(45deg, red, tomato,yellow,lime,cyan,indigo,violet);
	width: 80%;
	box-shadow: 1.5vh 1.5vh .4vh dimgrey;
	margin-left: 10%;
	border-radius: 5%;
	position:relative;
	background-color:lightcyan}
img{
	box-shadow: .5vh .5vh var(--imgs),.7vh .5vh .4vh navy;
	padding:.2vh; 
	margin-bottom:1vh;
	margin-top: 1vh;
	font-size:1vh;
	height:25vh;
	width: 25vh;
	border:.3vh solid var(--bor);
	border-radius: 50%;
	color:blue;}
.name{	
	font-weight:900;
	font-family:'Gotu',cursive;
	font-size: 3.5vh;
	color: red}
.post{
	font-weight:700;
	font-family: 'Hind';
	color: orange;
	font-size: 2vh;}
.degree{
	font-family: 'Nova Mono';
	color:green;
	text-decoration:overline;
	font-size:1.8vh;}
.description{
	font-family: 'Playball';
	color: var(--desc);
	font-size: 1.8vh;}
.list{
	margin:.5vh;
	font-size: 2vh;
        color: maroon;
        text-align: center;
        background-image: linear-gradient(45deg,khaki,coral,lightsalmon,papayawhip,lavender,pink,lavender,papayawhip,lightsalmon,coral,khaki);
        font-family: 'MedievalSharp','Yatra One';}
.mediums{
	color:limegreen;
	background-color: oldlace;
	width:50%;
	margin-left: 25%;
	font-size:1.7vh;
	font-family:'Amita'}
footer{	background-image:linear-gradient(330deg,lime,cornsilk,tomato);
	border-radius:50% 0% 50% 0%;
	width:90%;
	margin-left:5%;
	margin-bottom:2%;
	border: 1vh solid sienna}
.student{
	margin: .5vh;
        text-align:center;
        font-size: 3vh;
        font-family: 'Playball';
        color: cyan;
        border-bottom: .5vh solid maroon;;
        background-color: maroon;}
.shead:hover{--s:red;font-size:3.5vh;color:green; font-family:'Laila'; background-color:pink;text-transform:uppercase;font-weight:900;}
.borders:hover{--s:red;background-color:powderblue; --desc:coral; --imgs:grey; --bor:white}
.scontent:hover{--s:lightcyan;color:black;font-weight:700;font-family:'Poppins'}
.no:hover{--no:red;}




.scroll{font-family:'Yatra One';position:center center;}
#notice{color:tomato;font-size:2vh;font-weight:900;text-shadow:.1vh .1vh .1vh black;}
#adm{color:green;font-size:1.5vh;font-family:'Amita';}
#b{font-family:'Tillana';}
