.footer{position:fixed}
a{cursor:pointer;}
hr{
	width:80%;
	height:100%;
	position:relative;
	margin-left:auto;
	box-shadow:0 0 100px red;}
.list{width:70%;left:15%;position:relative;}
.mediums{
	color:darkcyan;
	width:50%; 
        margin-left: 25%;
	font-size:.8em;}
.logo{
	aspect-ratio:1/1;
	background:url(../img/logo.png);
	height:150px;
	border:.2em solid maroon;
	width:150px;
	border-radius:50%;
	background-size:cover;}
table{display:grid;place-items:center;margin:auto}
tyr,tyd{margin:auto;border:.2em solid;}
th{font-family:Laila;font-size:1.5em;border:.2em solid}
.sname{font-family:Amita}
.sachieve{font-family:Gotu}
sub{color:green;font-family:'Yatra One'}

/*slideshow begins*/
.mySlides {display: none;}
.slide-img {vertical-align: middle;aspect-ratio:4/3}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Caption text of slideshow */
.text {
  color: #2563E9;
  font-weight:900;
  -webkit-text-stroke-width:.02em;
  -webkit-text-stroke-color:black;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  font-family:'Laila';
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background:url('../img/favicon.ico');
  background-size:cover;
  border:.2px double maroon;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 15px}
}
